<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>
   <listener class-name="screenshot.Listeners"/>
</listeners>

  <test name="Login">
    <classes>
      <class name="Next_TestCases.Next_LogIn_LogOut"/>
       </classes>
      </test>
      
      <test name ="Register">
      <classes>
      <class name="Next_TestCases.Next_ResgisterTest"/>
    </classes>
   </test>
</suite>
